<!DOCTYPE html>
<html>

<head>
    <title>About Me</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href='/css/styles.css'>
    <!--refer to line 6 and 7 in src/app.js to understand the use of public folder -->
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Mondeep Prakash. It uses data from mapbox.com and weatherstack.com.</p>
        <img class="portrait" src="/img/me.jpeg">
    </div>
    {{>footer}}
</body>

</html>